# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# Environment variables
.env
.env.*

# Flask
instance/
.webassets-cache

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store